 <table>
  <tr>
    <th>Usage</th>
    <th>Serial Number</th>
    <th>Donation Date</th>
    <th>Hospital</th>
  </tr>
 
  <% @devices.each do |device| %>
    <tr>
      <td><%= article.usage %></td>
      <td><%= article.serialnumber %></td>
      <td><%= article.donationdate %></td>
      <td><%= article.hospital %></td>
    </tr>
  <% end %>
</table>