
 
<p>
  <strong>Usage:</strong>
  <%= @device.usage %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @device.serialnumber %>
</p>


<p>
  <strong>Donation Date:</strong>
  <%= @device.donationdate %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @device.hospital %>
</p>