<div id="home">
	<div>Hello.</div>
	<div class="title">
		<h1>f i r e f l y</h1>
		<div class="button1">SIGN UP</div><div class="button2">LOG IN</div>
	</div>
	<div class="menu1"></div>
	<div class="menu2"></div>
	<div class="menu3"></div>
</div>