// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  font-family: 'Poiret One', cursive;
}

#home {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("firefly_home.jpg");
  background-size: cover;
  height: 100vh;
}

.menu1 {
    width: 38px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
    position: absolute;
  top:5%;
  right:3%;
}

.menu2 {
    width: 38px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
    position: absolute;
  top:7.5%;
  right:3%;
}

.menu3 {
    width: 38px;
    height: 5px;
    background-color: white;
    margin: 8px 0;
    position: absolute;
  top:10%;
  right:3%;
}

.button1 {
  border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
  top:110%;
  right:56%;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button2 {
  border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
  top:110%;
  right:20%;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button1:hover {
    background-color: #808080;
    color: white;
    opacity:0.3;
}

.button2:hover {
    background-color: #808080;
    color: white;
    opacity:0.3;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 9rem;
  white-space: nowrap;
}

h2 {
  text-transform: uppercase;
  font-size: 5rem;
}

p {
  margin: 0;
  font-size: 2rem;
}

main {
  max-width: 500 px;
  margin: 20px auto;
}